.node-red/.flows.json.backup
[
    {
        "id": "f318e467.1a1638",
        "type": "tab",
        "label": "MQTT broker",
        "disabled": false,
        "info": ""
    },
    {
        "id": "21e2dd7.acbb722",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "35c7aa89.6ce4d6",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosca MQTT broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "8ddda9e0.0e2988",
        "type": "Streckenfakten",
        "z": "21e2dd7.acbb722",
        "name": "",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "8b1cff9b.c202d",
                "4c1b8fcf.f0067"
            ]
        ]
    },
    {
        "id": "8b1cff9b.c202d",
        "type": "Kurve",
        "z": "21e2dd7.acbb722",
        "name": "Linkskurve?",
        "art": "Linkskurve",
        "x": 690,
        "y": 220,
        "wires": [
            [
                "be8efba.d98f008"
            ]
        ]
    },
    {
        "id": "be8efba.d98f008",
        "type": "Spur wechseln",
        "z": "21e2dd7.acbb722",
        "name": "Fahre nach links",
        "track": "-67.5",
        "x": 940,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5b86c095.5d2d1",
        "type": "mqtt in",
        "z": "21e2dd7.acbb722",
        "name": "",
        "topic": "vehicle1",
        "qos": "2",
        "broker": "35c7aa89.6ce4d6",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "2b2f62bc.36395e"
            ]
        ]
    },
    {
        "id": "e53f2641.c382b8",
        "type": "json",
        "z": "21e2dd7.acbb722",
        "name": "",
        "pretty": false,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "8ddda9e0.0e2988"
            ]
        ]
    },
    {
        "id": "7b7cb3a3.60d99c",
        "type": "mqtt out",
        "z": "21e2dd7.acbb722",
        "name": "",
        "topic": "vehicle1_sub",
        "qos": "",
        "retain": "",
        "broker": "35c7aa89.6ce4d6",
        "x": 1170,
        "y": 340,
        "wires": []
    },
    {
        "id": "4c1b8fcf.f0067",
        "type": "Kurve",
        "z": "21e2dd7.acbb722",
        "name": "Rechtskurve?",
        "art": "Rechtskurve",
        "x": 740,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "23d09044.ef798",
        "type": "debug",
        "z": "21e2dd7.acbb722",
        "name": "Debug-Ausgabe",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 491,
        "y": 147,
        "wires": []
    },
    {
        "id": "9f28b2d5.fa5e5",
        "type": "mosca in",
        "z": "f318e467.1a1638",
        "mqtt_port": 1883,
        "mqtt_ws_port": 8080,
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 216,
        "y": 114,
        "wires": [
            []
        ]
    },
    {
        "id": "473d829c.74e63c",
        "type": "Umwelt",
        "z": "21e2dd7.acbb722",
        "name": "",
        "obstacleType": "Mine",
        "distance": "200",
        "track": "0",
        "direction": "Front",
        "x": 500,
        "y": 460,
        "wires": [
            [
                "6fb81115.29967"
            ]
        ]
    },
    {
        "id": "8c038ee3.5af3b",
        "type": "debug",
        "z": "21e2dd7.acbb722",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 550,
        "y": 780,
        "wires": []
    },
    {
        "id": "2b2f62bc.36395e",
        "type": "json",
        "z": "21e2dd7.acbb722",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "81c1b528.6dc7f8"
            ]
        ]
    },
    {
        "id": "81c1b528.6dc7f8",
        "type": "Umgebungsfakten",
        "z": "21e2dd7.acbb722",
        "name": "",
        "x": 300,
        "y": 480,
        "wires": [
            [
                "473d829c.74e63c",
                "a5798daa.c849c"
            ]
        ]
    },
    {
        "id": "6fb81115.29967",
        "type": "Spur wechseln",
        "z": "21e2dd7.acbb722",
        "name": "",
        "track": "67.5",
        "x": 760,
        "y": 440,
        "wires": [
            [
                "7b7cb3a3.60d99c"
            ]
        ]
    },
    {
        "id": "a5798daa.c849c",
        "type": "Umwelt",
        "z": "21e2dd7.acbb722",
        "name": "Umwelt",
        "obstacleType": "Mine",
        "distance": "280",
        "track": "67.5",
        "direction": "Front",
        "x": 500,
        "y": 520,
        "wires": [
            [
                "41fe820d.487a8c"
            ]
        ]
    },
    {
        "id": "41fe820d.487a8c",
        "type": "Spur wechseln",
        "z": "21e2dd7.acbb722",
        "name": "",
        "track": "0",
        "x": 760,
        "y": 520,
        "wires": [
            [
                "7b7cb3a3.60d99c"
            ]
        ]
    },
    {
        "id": "63dfb8f7.d78c88",
        "type": "Mine legen",
        "z": "21e2dd7.acbb722",
        "name": "",
        "x": 820,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "93031786.d17238",
        "type": "Mine legen",
        "z": "21e2dd7.acbb722",
        "name": "",
        "x": 700,
        "y": 360,
        "wires": [
            [
                "7b7cb3a3.60d99c"
            ]
        ]
    },
    {
        "id": "52da38f1.0bc1d8",
        "type": "inject",
        "z": "21e2dd7.acbb722",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "93031786.d17238"
            ]
        ]
    }
]