.node-red/flows.json
[
    {
        "id": "f318e467.1a1638",
        "type": "tab",
        "label": "MQTT broker",
        "disabled": false,
        "info": ""
    },
    {
        "id": "21e2dd7.acbb722",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "35c7aa89.6ce4d6",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosca MQTT broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "5b86c095.5d2d1",
        "type": "mqtt in",
        "z": "21e2dd7.acbb722",
        "name": "",
        "topic": "vehicle1",
        "qos": "2",
        "broker": "35c7aa89.6ce4d6",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "2b2f62bc.36395e"
            ]
        ]
    },
    {
        "id": "e53f2641.c382b8",
        "type": "json",
        "z": "21e2dd7.acbb722",
        "name": "",
        "pretty": false,
        "x": 270,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7b7cb3a3.60d99c",
        "type": "mqtt out",
        "z": "21e2dd7.acbb722",
        "name": "",
        "topic": "vehicle1_sub",
        "qos": "",
        "retain": "",
        "broker": "35c7aa89.6ce4d6",
        "x": 1170,
        "y": 340,
        "wires": []
    },
    {
        "id": "9f28b2d5.fa5e5",
        "type": "mosca in",
        "z": "f318e467.1a1638",
        "mqtt_port": 1883,
        "mqtt_ws_port": "8083",
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 216,
        "y": 114,
        "wires": [
            []
        ]
    },
    {
        "id": "2b2f62bc.36395e",
        "type": "json",
        "z": "21e2dd7.acbb722",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "69b280ad.849c1"
            ]
        ]
    },
    {
        "id": "52da38f1.0bc1d8",
        "type": "inject",
        "z": "21e2dd7.acbb722",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 500,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d4ab08bd.f85d38",
        "type": "inject",
        "z": "21e2dd7.acbb722",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 840,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "eeda392b.cdcf68",
        "type": "Change track",
        "z": "21e2dd7.acbb722",
        "name": "",
        "track": "67.5",
        "x": 780,
        "y": 440,
        "wires": [
            [
                "7b7cb3a3.60d99c"
            ]
        ]
    },
    {
        "id": "c313fc49.c382d",
        "type": "Change track",
        "z": "21e2dd7.acbb722",
        "name": "",
        "track": "0",
        "x": 780,
        "y": 500,
        "wires": [
            [
                "7b7cb3a3.60d99c"
            ]
        ]
    },
    {
        "id": "f9a3f203.d38f6",
        "type": "Brake",
        "z": "21e2dd7.acbb722",
        "name": "",
        "velocity": "100",
        "x": 280,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3125d16f.e8972e",
        "type": "Mine",
        "z": "21e2dd7.acbb722",
        "name": "",
        "x": 830,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "69b280ad.849c1",
        "type": "Environment facts",
        "z": "21e2dd7.acbb722",
        "name": "",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "2bd94448.c45bdc"
            ]
        ]
    },
    {
        "id": "16aaad9.b77d552",
        "type": "Road facts",
        "z": "21e2dd7.acbb722",
        "name": "",
        "x": 500,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2bd94448.c45bdc",
        "type": "Obstacle",
        "z": "21e2dd7.acbb722",
        "name": "",
        "obstacleType": "Mine",
        "distance": "1111",
        "track": "22",
        "direction": "Behind",
        "x": 500,
        "y": 520,
        "wires": [
            [
                "c313fc49.c382d"
            ]
        ]
    },
    {
        "id": "55fe0b82.96cb24",
        "type": "Inventar",
        "z": "21e2dd7.acbb722",
        "name": "",
        "art": "left",
        "x": 240,
        "y": 780,
        "wires": [
            []
        ]
    }
]