node-red-module/flow_serialization.json
[{"id":"97013993.491be8","type":"tab","label":"Flow 1"},{"id":"6833f52e.1d562c","type":"inject","z":"97013993.491be8","name":"Vehicle","topic":"","payload":"{\"speed\":\"100\",\"nextRoadPiece\":\"left\",\"inv\":\"mine\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":93.00000381469727,"y":123.00000381469727,"wires":[["bbe0f727.676308","bfb18ebf.5aa02"]]},{"id":"bbe0f727.676308","type":"Streckenfakten","z":"97013993.491be8","name":"","x":280.00006103515625,"y":123.00000381469727,"wires":[["238e61f5.86c3fe"]]},{"id":"bfb18ebf.5aa02","type":"Inventarfakten","z":"97013993.491be8","name":"","x":312.00003814697266,"y":233.000018119812,"wires":[["3f33af71.53906"]]},{"id":"43019508.23146c","type":"Umgebungsfakten","z":"97013993.491be8","name":"","x":134.00000762939453,"y":364.00000762939453,"wires":[[]]},{"id":"8155123.61579f","type":"inject","z":"97013993.491be8","name":"World","topic":"","payload":"{\"test\":\"test\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":70,"y":260,"wires":[["43019508.23146c"]]},{"id":"9b7aa9aa.d5c638","type":"U Turn","z":"97013993.491be8","name":"","x":690,"y":440,"wires":[[]]},{"id":"297cb1a8.42c85e","type":"Mine legen","z":"97013993.491be8","name":"","x":662.0000190734863,"y":274.00003242492676,"wires":[[]]},{"id":"a1dc5b7e.b12b08","type":"debug","z":"97013993.491be8","name":"","active":true,"console":"false","complete":"true","x":918.0001239776611,"y":113.00001811981201,"wires":[]},{"id":"4a971372.d373ec","type":"Beschleunigen","z":"97013993.491be8","name":"","velocity":"100","x":495.00001525878906,"y":436.00001335144043,"wires":[[]]},{"id":"238e61f5.86c3fe","type":"Kurve","z":"97013993.491be8","name":"","art":"Linkskurve","x":473.1000862121582,"y":131.00002813339233,"wires":[["dab4e87f.1767d8"]]},{"id":"3f33af71.53906","type":"Inventar","z":"97013993.491be8","name":"","art":"mine","x":498.1000633239746,"y":243.00000762939453,"wires":[["297cb1a8.42c85e"]]},{"id":"dab4e87f.1767d8","type":"Spur wechseln","z":"97013993.491be8","name":"","track":"2","x":651.1001148223877,"y":131.00000381469727,"wires":[["a1dc5b7e.b12b08"]]}]